.uploads {
  width: 600px;
  margin: 50px auto;
  text-align: center;
}
input[type='file'] {
  display: none;
}
.errorMessage {
}

.percentage {
  position: relative;
  margin-left: 10px;
  top: -13px;
}
